@model Raffle.Web.Models.Raffle.CompleteRaffleModel

@{
    ViewData["Title"] = "Raffle - Complete";
}

@section Scripts {
    <script type="text/javascript" src="~/js/completedonation.js" asp-append-version="true"></script>
}

<div class="text-center">
    <h1 class="display-4">Raffle Selection Complete</h1>
    <p>You're almost there!</p>
</div>

<p>
    Step 2: You've made your selections already and your list of tickets and total is shown to the right. Please confirm it's accurate before proceeding. If not just go back and fix it, If it is, provide us your contact information (we can't get winners their prizes if you don't tell us who you are or how to find you!) When you hit the "COMPLETE" button at the bottom, you'll be instructed on how to make your donation to MAWNJ. We believe that $1/point selected would a perfect amount to donate.
</p>

<div class="row">
    <div class="mb-3">

        <table class="table">
        </table>
    </div>
</div>
<form method="post">
    <div class="row">
        <div class="col-md-6 order-md-2 mb-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Raffle Tickets</span>
                <span class="badge badge-secondary badge-pill">@Model.TotalTickets</span>
            </h4>
            <ul class="list-group mb-3">
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div class="d-flex flex-fill">
                            <img src="@Model.Items[i].ImageUrls.First()" class="rounded float-left" style="max-width: 90px; margin-right:8px;" />
                            <h6 class="my-0">@Model.Items[i].Name </h6>
                            <small class="text-muted">@Model.Items[i].Amount tix</small>
                        </div>
                        <span class="text-muted">@Model.Items[i].Cost</span>
                    </li>
                }
                <li class="list-group-item d-flex justify-content-between list-group-item-primary">
                    <span>Total Points</span>
                    <strong>@Model.TotalPrice</strong>
                </li>
            </ul>
            <div>
                <h5>Please confirm that your list of tickets is accurate before proceeding.</h5>
            </div>
        </div>

        <div class="col-md-6 order-md-1">

            <h4 class="mb-3">Customer Information</h4>
            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
            {
                @Html.ValidationSummary(false, "Errors: ", new { @class = "alert alert-danger" })
            }
            <div class="row">
                <div class="col-md-6">
                    <label>First Name</label>
                    @Html.TextBoxFor(x => x.CustomerFirstName, null, new { @class = "form-control", placeholder = "", required = "required" })
                </div>
                <div class="col-md-6">
                    <label>Last Name</label>
                    @Html.TextBoxFor(x => x.CustomerLastName, null, new { @class = "form-control", placeholder = "", required = "required" })
                </div>
            </div>
            <div class="mb-3">
                <label>Phone</label>
                @Html.TextBoxFor(x => x.PhoneNumber, null, new { @class = "form-control", placeholder = "", required = "required" })
            </div>
            <div class="mb-3">
                <label>Email</label>
                @Html.TextBoxFor(x => x.CustomerEmail, null, new { @class = "form-control", placeholder = "", required = "required" })
                <label>Email Again</label>
                @Html.TextBoxFor(x => x.CustomerEmailRepeat, null, new { @class = "form-control", placeholder = "", required = "required" })
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        @Html.CheckBoxFor(x => x.Confirmed21, new { @class = "form-check-input", placeholder = "" })
                        <lablel class="form-check-label">I am 21 years old</lablel>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        @Html.CheckBoxFor(x => x.IsInternational, new { @class = "form-check-input", placeholder = "" })
                        <lablel class="form-check-label">Outside of the USA</lablel>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label>Address 1</label>
                @Html.TextBoxFor(x => x.AddressLine1, null, new { @class = "form-control", placeholder = "", required = "required" })
                <label>Address 2</label>
                @Html.TextBoxFor(x => x.AddressLine2, null, new { @class = "form-control" })
            </div>
            <div class="row" id="us_address">
                <div class="col-md-5 mb-3">
                    <label>City</label>
                    @Html.TextBoxFor(x => x.City, null, new { @class = "form-control", placeholder = "" })
                </div>
                <div class="col-md-4 mb-3">
                    <label>State</label>
                    @Html.TextBoxFor(x => x.State, null, new { @class = "form-control", placeholder = "" })
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label>Zip</label>
                    @Html.TextBoxFor(x => x.Zip, null, new { @class = "form-control", placeholder = "" })
                    <div class="invalid-feedback">
                        Zip code required.
                    </div>
                </div>
            </div>
            <div class="row" id="international_address">
                <div class="col-md-12 mb-3">
                    <label>International Address</label>
                    @Html.TextAreaFor(x => x.InternationalAddress, 4, 60, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="form-control btn btn-primary">Complete</button>
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Go Back to Raffle Selection", "Index", "Home", null, new { @class = "btn btn-warning" })
                </div>
            </div>
        </div>

    </div>
</form>
