@model Raffle.Web.Models.SuccessDonationViewModel
@{
    ViewData["Title"] = "DFD Donation Successful";
}

<div class="text-center">
    <h1 class="display-4">Your raffles have been submitted</h1>
    <h4 class="text-center">Now please complete your donation.</h4>
    <p>
        <div class="align-content-center"><a href="http://site.wish.org/goto/DartsforDreams15" class="btn btn-success btn-lg fa-bold" target="_blank" rel="noopener noreferrer">CLICK HERE TO Complete the Donation of @Model.TotalPrice Points</a></div>
    </p>
    <p>
        Step 3: You've provided your information and now you need to finish the transaction. Please click the green button above to make your donation to MAWNJ if not already completed or you've made arrangements with Gary for an alternate payment option.
    </p>
    <p>
        On August 22nd, check back at our <a href="https://www.dartsfordreams.com" target="_blank" rel="noopener noreferrer">Darts for Dreams webpage</a> or on the <a href="https://www.facebook.com/events/641961176328480"  target="_blank" rel="noopener noreferrer">Facebook event page</a>. We'll be doing a live broadcast that day for the winners and some stories about the event.
    </p>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <h5>Raffle Tickets</h5>
                <hr/>
            </div>            
        </div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Raffle Item</th>
                    <th scope="col" class="text-center">Points</th>
                    <th scope="col" class="text-center">Tickets</th>
                    <th scope="col" class="text-right">Sub Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @if (item.ImageUrls.Any())
                            {
                                <img src="@item.ImageUrls.First()" alt="@item.Name" class="rounded float-left" style="max-width: 100px; margin-right:8px;" />
                            }
                        </td>
                        <td class="align-middle">@item.Name</td>
                        <td class="text-center align-middle">@item.Price</td>
                        <td class="text-center align-middle">@item.Amount</td>
                        <td class="text-right align-middle">@item.Cost</td>
                    </tr>
                }
                <tr class="table-primary">
                    <td><b>Total Points</b></td>
                    <td colspan="4" class="text-right"><b>@Model.TotalPrice</b></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-3">
        <div class="mb-3">
            <h5 >Customer</h5>
            <hr/>
        </div>
        <div class="mb-3">
            @Model.CustomerFirstName @Model.CustomerLastName<br/>
            @Model.PhoneNumber<br/>
            @Model.CustomerEmail<br/>
            @Model.AddressLine1<br />
            @if (!string.IsNullOrEmpty(Model.AddressLine2))
            {
                @Model.AddressLine2<br />
            }
            @Model.City, @Model.State @Model.Zip
        </div>
    </div>
</div>