@model Raffle.Web.Models.Raffle.RaffleOrderViewModel
@inject Raffle.Web.Services.FlagManager flagManager

@{
    ViewData["Title"] = "Raffle";
}

@section Scripts {
    <script type="text/javascript" src="~/lib/lazysizes/lazysizes.min.js"></script>
    <script type="text/javascript" src="~/js/rafflecart.js" asp-append-version="true"></script>
}
@Html.HiddenFor(x => x.StartDate)
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <img src="~/images/2020T4T-Web-header.jpg" class="img-fluid" alt="Welcome to the Jesse P. Roland Memorial Toys for Tots Benefit Raffle" />
    </div>
</div>

@if (Model.CloseDate >= DateTime.UtcNow)
{
    <div class="text-center">
        <h5>The online raffle will be turned off at 2 PM ET on December 13th! </h5>
        <h5><span id="timeCountdown" utc="@Model.CloseDate.Value.ToString("o")"></span> Check back often as items will be added daily</h5>
        <p><a href="https://www.facebook.com/Toys4TotsDartTourney11379">Follow the Facebook Page</a> for more information on the event, raffles, 50/50 and auctions</p>
    </div>
}
else
{
    <div class="text-center">
        <h5>The online raffle will start at 2 PM ET on December 13th! </h5>
    </div>
}
<p>
    Thank you for choosing to stop by and help Toys for Tots via our online
    Jesse P. Roland Annual Toys for Tots Benefit event in 2020.
    Your support is truly appreciated as we continue to help bring the 
    joy of Christmas to less fortunate children in the NYC area.
</p>
@if (DateTime.UtcNow < Model.CloseDate)
{
<p>
    Step 1: Below is a list of prizes available to win on December 13th, 
    some basic information, images and their value. Simply navigate the page 
    and select how many chances for each prize you'd like to have. 
    Once you've made your choices, hit the "CONTINUE" button at the 
    bottom to move to the next step.
</p>
    <div class="row">
        <div class="mb-3">
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @Model.ErrorMessage
                </div>
            }
        </div>
    </div>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <div class="row">
                <div class="col-md-6">
                    <b>Find by name:</b> <input type="text" name="searchFilter" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-primary" /> |
                    <a asp-action="Index">clear search</a>

                </div>
                <div class="col-md-6">
                    <div class="text-align">
                        <select name="categoryFilter" class="btn btn-secondary dropdown-toggle" onchange="this.form.submit();">
                            <option value="">All</option>
                            @foreach (var category in Model.Categories)
                            {
                                @if (category == (string)ViewData["categoryFilter"])
                                {
                                    <option value="@category" selected="selected">@category</option>
                                }
                                else
                                {
                                    <option value="@category">@category</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form method="post">
        <div class="row">
            <table class="table" style="margin-top: 5px;">
                <thead>
                    <tr>
                        <th scope="col"><a asp-action="Index" asp-route-sortBy="@ViewData["itemNumberSortParam"]">Num</a></th>
                        <th scope="col"><a asp-action="Index" asp-route-sortBy="@ViewData["titleSortParam"]">Item</a></th>
                        <th scope="col"><a asp-action="Index" asp-route-sortBy="@ViewData["categorySortParam"]">Category</a></th>
                        <th scope="col"><a asp-action="Index" asp-route-sortBy="@ViewData["pointsSortParam"]">Points</a></th>
                        <th scope="col">How Many</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.RaffleItems.Count; i++)
                    {
                        <tr>
                            <td class="text-center align-middle">
                                #@Model.RaffleItems[i].ItemNumber @Html.HiddenFor(x => x.RaffleItems[i].ItemNumber)
                                @if (flagManager.Get("RaffleItemEmoji") == "on" || (string)ViewData["emoji"] == "on")
                                {
                                    <br />
                                    if (Model.RaffleItems[i].TotalTicketsEntered > 0 && Model.RaffleItems[i].TotalTicketsEntered <= 10)
                                    {
                                        <img src="~/images/1star.jpg" width="50" height="50" title="1-10 tix" alt="1-10 tix" />
                                    }
                                    else if (Model.RaffleItems[i].TotalTicketsEntered > 10 && Model.RaffleItems[i].TotalTicketsEntered <= 25)
                                    {
                                        <img src="~/images/2stars.jpg" width="50" height="50" title="11-25 tix" alt="11-25 tix" />
                                    }
                                    else if (Model.RaffleItems[i].TotalTicketsEntered > 25 && Model.RaffleItems[i].TotalTicketsEntered <= 50)
                                    {
                                        <img src="~/images/3stars.jpg" width="50" height="50" title="26-50 tix" alt="26-50 tix" />
                                    }
                                    else if (Model.RaffleItems[i].TotalTicketsEntered > 50 && Model.RaffleItems[i].TotalTicketsEntered <= 100)
                                    {
                                        <img src="~/images/4stars.jpg" width="50" height="50" title="51-100 tix" alt="51-100 tix" />
                                    }
                                    else if (Model.RaffleItems[i].TotalTicketsEntered > 100)
                                    {
                                        <img src="~/images/bigstar.jpg" width="50" height="50" title="100+ tix" alt="100+ tix" />
                                    }
                                }
                            </td>
                            <td class=" align-middle">
                                @Html.HiddenFor(m => m.RaffleItems[i].Id)
                                <div class="row">
                                    @if (Model.RaffleItems[i].Pictures.Count >= 1)
                                    {
                                        <div class="col-md-3">
                                            <a href="@Model.RaffleItems[i].Pictures.First()" target="_blank" rel="noopener noreferrer">
                                                @if (i < 2)
                                                {
                                                    <img src="@Model.RaffleItems[i].Pictures.First()" class="img-fluid rounded" alt="@Model.RaffleItems[i].Title">
                                                }
                                                else
                                                {
                                                    <img data-src="@Model.RaffleItems[i].Pictures.First()" class="lazyload img-fluid rounded" alt="@Model.RaffleItems[i].Title">
                                                }
                                            </a>
                                        </div>
                                    }
                                    <div class="col-md-@(Model.RaffleItems[i].Pictures.Count >= 1? "9" : "12")">
                                        <h5>@Model.RaffleItems[i].Title @Html.HiddenFor(x => x.RaffleItems[i].Title)</h5>

                                        <div>
                                            @if (Model.RaffleItems[i].NumberOfDraws > 1)
                                            {
                                                <span class="badge badge-success" title="Number of tickets drawn">@Model.RaffleItems[i].NumberOfDraws Winners</span>
                                            }
                                            @if (Model.RaffleItems[i].LocalPickupOnly)
                                            {
                                                <span class="badge badge-primary">Local Pickup Only</span>
                                            }
                                            @if (Model.RaffleItems[i].ForOver21)
                                            {
                                                <span class="badge badge-warning">Over 21</span>
                                            }
                                        </div>

                                        <div>
                                            @if (!string.IsNullOrEmpty(Model.RaffleItems[i].Value))
                                            {
                                                <b>Est. value of @Model.RaffleItems[i].Value</b><br />
                                            }
                                            @if (!string.IsNullOrEmpty(Model.RaffleItems[i].Description))
                                            {
                                                @Model.RaffleItems[i].Description<br />
                                            }
                                            @if (!string.IsNullOrEmpty(Model.RaffleItems[i].Sponsor))
                                            {
                                                <b>Donated By: </b><span class="font-italic">@Model.RaffleItems[i].Sponsor</span><br />
                                            }
                                        </div>
                                        @if (Model.RaffleItems[i].Pictures.Count > 0)
                                        {
                                            <div>
                                                @foreach (var picture in Model.RaffleItems[i].Pictures.Skip(1))
                                                {
                                                    <a href="@picture" target="_blank" rel="noopener noreferrer">
                                                        @if (i < 2)
                                                        {
                                                            <img src="@picture" class="rounded float-left" style="max-width: 80px; margin-right:8px;" alt="@Model.RaffleItems[i].Title">
                                                        }
                                                        else
                                                        {
                                                            <img data-src="@picture" class="lazyload rounded float-left" style="max-width: 80px; margin-right:8px;" alt="@Model.RaffleItems[i].Title">
                                                        }
                                                    </a>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </td>
                            <td class="text-center align-middle">@Model.RaffleItems[i].Category</td>
                            <td class="text-center align-middle">@Model.RaffleItems[i].Cost @Html.HiddenFor(x => x.RaffleItems[i].Cost)</td>
                            <td class="text-center align-middle">
                                @if (Model.RaffleItems[i].IsAvailable)
                                {
                                    @Html.TextBoxFor(x =>
                                               x.RaffleItems[i].Amount,
                                               null,
                                               new
                                               {
                                                   style = "width:50px",
                                                   @class = "form-control ticketInput",
                                                   data_raffle_item_id = Model.RaffleItems[i].Id
                                               })
                                }
                                else
                                {
                                    <span class="badge badge-danger">No More Tixs</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="form-control btn btn-primary">Continue</button>
            </div>
            <div class="col-md-6">
                @Html.ActionLink("Clear Donation", "ClearDonation", "Home", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </form>
}
else
{
<div class="text-center">
    <p>
        Thank you for coming to check out the Jesse P. Roland Memorial Toys for Tots Benefit Raffle.
<p>
        The raffles are now closed.If you still want to make a donation,
        you can still go to https://www.facebook.com/Toys4TotsDartTourney11379 and help out.
    </p>
    <p>
        As we select the winners, this page will update to show the prizes and the winner.
    </p>
    <p>
        We can't thank everyone enough for their support.  We appreciate
        everyone who'se helped in every way over the years.The success of this event
        is a testament to all of your support!!!
    </p>
</div>
}