@model IList<Raffle.Web.Models.Raffle.RaffleItemModel>
@{
    ViewData["Title"] = "RaffleItemList";
}

<h1>Raffle Items</h1>

@Html.ActionLink("Add", "Add", "AdminRaffleItems", null, new { @class = "btn btn-secondary" })

<table class="table">
    <thead>
        <tr>
            <th scope="col">Action</t>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Sponsor</th>
            <th scope="col">Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink("Update", "Update", "AdminRaffleItems", new { id = item.Id }, new { @class = "btn btn-primary" })</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Category</td>
                <td>@item.Sponsor</td>
                <td>@item.Cost</td>
            </tr>
        }
    </tbody>
</table>