@model Raffle.Web.Models.Raffle.RaffleItemUpdateModel
@{
    ViewData["Title"] = "AddRaffleItem";
}

<div class="text-center">
    <h1 class="display-4">Update Raffle Item</h1>
</div>

<form method="post">
    @Html.HiddenFor(x => x.Id);
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <label>Title</label>
                    @Html.TextBoxFor(x => x.Title, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="mb-3">
                <label>Description</label>
                @Html.TextAreaFor(x => x.Description, 4, 50, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                <label>Category</label>
                @Html.TextBoxFor(x => x.Category, null, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                <label>Sponsor</label>
                @Html.TextBoxFor(x => x.Sponsor, null, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                <label>Item Value</label>
                @Html.TextBoxFor(x => x.ItemValue, null, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                <label>Cost</label>
                @Html.TextBoxFor(x => x.Cost, null, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                <label>
                    @Html.CheckBoxFor(x => x.IsAvailable)
                    Available
                </label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="form-control btn btn-primary">Update</button>
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Cancel", "Index", "AdminRaffleItems", null, new { @class = "btn btn-warning" })
                </div>
            </div>
        </div>

    </div>
</form>

