@model Raffle.Web.Models.Admin.RaffleItem.RaffleItemUpdateModel
@{
    ViewData["Title"] = "AddRaffleItem";
    ViewData["hideAnalytics"] = true;
}

<div class="text-center">
    <h1 class="display-4">Update Raffle Item</h1>
</div>

<form method="post">
    @Html.HiddenFor(x => x.Id)
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <label>Item Number</label>
                    @Html.TextBoxFor(x => x.ItemNumber, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Title</label>
                    @Html.TextBoxFor(x => x.Title, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="mb-3">
                <label>Description</label>
                @Html.TextAreaFor(x => x.Description, 4, 50, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                <label>Category</label>
                @Html.TextBoxFor(x => x.Category, null, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                <label>Sponsor</label>
                @Html.TextBoxFor(x => x.Sponsor, null, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                <label>Item Value</label>
                @Html.TextBoxFor(x => x.ItemValue, null, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                <label>Cost</label>
                @Html.TextBoxFor(x => x.Cost, null, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                <label>Winning Tickets</label>
                @Html.TextBoxFor(x => x.WinningTickets, null, new { @class = "form-control" })
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>
                        Draws
                    </label>
                    @Html.TextBoxFor(x => x.NumberOfDraws, null, new { style = "width:50px", @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <label>
                        @Html.CheckBoxFor(x => x.ForOver21)
                        Over 21
                    </label>
                </div>
                <div class="col-md-2">
                    <label>
                        @Html.CheckBoxFor(x => x.LocalPickupOnly)
                        Local Pickup Only
                    </label>
                </div>
                <div class="col-md-2">
                    <label>
                        @Html.CheckBoxFor(x => x.IsAvailable)
                        Available
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="form-control btn btn-primary">Update</button>
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Cancel", "Index", "AdminRaffleItems", null, new { @class = "btn btn-warning" })
        </div>
    </div>
</form>

