@model Raffle.Web.Models.Admin.RaffleOrder.RaffleOrderListViewModel
@{
    ViewData["Title"] = "RaffleItemList";
    ViewBag["hideAnalylitics"] = true;
}

<h1>Raffle Orders</h1>
<div class="row">
    <div class="col-md-4 text-center">
        <h5>Orders</h5>
        <b>Total:</b> @Model.RaffleOrders.Count - 
        <b>Confirmed: </b> @Model.RaffleOrders.Where(x => !string.IsNullOrEmpty(x.TicketNumber)).Count()
    </div>
    <div class="col-md-4 text-center">
        <h5>Tickets</h5>
        <b>Total: </b> @Model.RaffleOrders.Sum(x => x.TotalTickets) - 
        <b>Confirmed: </b>@Model.RaffleOrders.Where(x => !string.IsNullOrEmpty(x.TicketNumber)).Sum(x => x.TotalTickets)
    </div>
    <div class="col-md-4 text-center">
        <h5>Points</h5>
        <b>Total: </b> @Model.RaffleOrders.Sum(x => x.TotalPoints) - 
        <b>Confirmed: </b> @Model.RaffleOrders.Where(x => !string.IsNullOrEmpty(x.TicketNumber)).Sum(x => x.TotalPoints)
    </div>
</div>
@*@Html.ActionLink("Add", "Add", "AdminRaffleOrders", null, new { @class = "btn btn-secondary" })*@
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="text-center">Ticket Number</th>
            <th scope="col" class="text-center">Donation Date</th>
            <th scope="col"><a asp-action="Index" asp-route-sortBy="@ViewData["orderIdSortParam"]">Order #</a></th>
            <th scope="col"><a asp-action="Index" asp-route-sortBy="@ViewData["nameSortParam"]">Name</a></th>
            <th scope="col"><a asp-action="Index" asp-route-sortBy="@ViewData["emailSortParam"]">Email</a></th>
            <th scope="col" class="text-center" nowrap="nowrap"><a asp-action="Index" asp-route-sortBy="@ViewData["completedSortParam"]">Order Date</a></th>
            <th scope="col" class="text-center">Total Tickets</th>
            <th scope="col" class="text-center">Total Points</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.RaffleOrders.Count; i++)
        {
            <tr>
                <td class="align-middle">@Html.ActionLink("Update", "Update", "AdminRaffleOrders", new { id = Model.RaffleOrders[i].RaffleOrderId }, new { @class = "btn btn-primary" })</td>
                <td class="align-middle">@Model.RaffleOrders[i].TicketNumber</td>
                <td class="align-middle text-center">
                    @(Model.RaffleOrders[i].DonationDate.HasValue ? Model.RaffleOrders[i].DonationDate.Value.ToString("MM/dd/yyyy") : "")
                </td>
                <td class="align-middle text-center"># @Model.RaffleOrders[i].RaffleOrderId</td>
                <td class="align-middle" nowrap="nowrap">@Model.RaffleOrders[i].Name</td>
                <td class="align-middle">@Model.RaffleOrders[i].Email</td>
                <td class="align-middle" nowrap="nowrap"><span class="localTime" utc="@Model.RaffleOrders[i].CompletedDate.Value.ToString("o")" format="MM/DD h:mm a"></span></td>
                <td class="align-middle text-center">@Model.RaffleOrders[i].TotalTickets</td>
                <td class="align-middle text-center">@Model.RaffleOrders[i].TotalPoints</td>
            </tr>
        }
    </tbody>
</table>