@model Raffle.Web.Models.Admin.RaffleOrder.RaffleOrderUpdateViewModel
@{
    ViewData["hideAnalytics"] = true;
}
<h1>Raffle Order Update</h1>
<hr/>
<form method="post">
    @Html.HiddenFor(x => x.Id)
    <div>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <label>Order Number</label>
                    @Model.Id
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Ticket Number</label>
                    @Html.TextBoxFor(x => x.TicketNumber, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Date of Donation</label>
                    <input asp-for="DonationDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Donation Notes</label>
                    @Html.TextBoxFor(x => x.DonationNote, null, new { @class = "form-control" })
                </div>
            </div>
            @if (Model.UpdateDate.HasValue)
            {
                <div class="row">
                    <div class="col-md-12">
                        <label>Last Update</label>
                        <span class="localTime" utc="@Model.UpdateDate.Value.ToString("o")"></span>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <h3>Customer Details</h3>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-6">
                        @if (Model.Confirmed21)
                        {
                            <span class="badge-pill badge-primary">Confirmed 21</span>
                        }
                        @if (Model.Customer.IsInternational)
                        {
                            <span class="badge-pill badge-danger">International</span>
                        }
                        @if (Model.Confirmed21 || Model.Customer.IsInternational)
                        {
                            <br />
                        }
                        @Model.Customer.FirstName
                        @Model.Customer.LastName<br />
                        @Model.Customer.Email <br />
                        @Model.Customer.PhoneNumber<br />
                        <hr />
                        @Model.Customer.AddressLine1<br />
                        @if (!string.IsNullOrEmpty(Model.Customer.AddressLine2))
                        {
                            @Model.Customer.AddressLine2<br />
                        }
                        @if (Model.Customer.IsInternational)
                        {
                            @Model.Customer.InternationalAddress
                        }

                        @if (!Model.Customer.IsInternational)
                        {
                            @(Model.Customer.City + ", " + Model.Customer.State + "  " + Model.Customer.Zip)
                        }
                    </div>
                    <div class="col-md-6">
                        <h5>How did you find us?</h5>
                        @if (!string.IsNullOrEmpty(Model.HowDidYouHear))
                        {
                            <b>@Model.HowDidYouHear</b><br />
                            @Model.HOwDidYouHearOther
                        }
                        else
                        {
                            <i>No Reponse</i>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Raffle Details</h3>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Raffle Item</th>
                        <th scope="col" class="text-right">Tickets</th>
                        <th scope="col" class="text-right">Points</th>
                        <th scope="col" class="text-right">Sub Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Lines)
                    {
                        <tr>
                            <td>
                                @if (item.ImageUrls.Any())
                                {
                                    <img src="@item.ImageUrls.First()" alt="@item.Name" class="rounded float-left" style="max-width: 100px; margin-right:8px;" />
                                }
                            </td>
                            <td class="align-middle">@item.Name</td>
                            <td class="text-right align-middle">@item.Amount</td>
                            <td class="text-right align-middle">@item.Price</td>
                            <td class="text-right align-middle">@item.Cost</td>
                        </tr>
                    }
                    <tr class="table-primary">
                        <td><b>Total Points</b></td>
                        <td colspan="3" class="text-right">
                            <b>#1</b> - @Model.TotalTicketsOne /
                            <b>#2</b> - @Model.TotalTicketsTwo /
                            <b>Sheet Tickets</b> - @Model.TotalTicketsFromSheet
                        </td>
                        <td class="text-right"><b>@Model.TotalPrice</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="form-control btn btn-primary">Update</button>
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Cancel", "Index", "AdminRaffleOrders", null, new { @class = "btn btn-warning" })
        </div>
    </div>
</form>
